h1 {
    font-family: 'Prompt', sans-serif;
    color: #214466;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
}

.course-info, .profile-info, .student-info, .subject-table{

    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: rgb(121, 50, 50);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #000000;
}

.navbar {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: rgba(89, 157, 212, 0.3);
  position: sticky;
  top: 0;
}
